.project
.cproject
/*.aux
/*.bbl
/*.blg
/*.log
/*.synctex.gz
/*~
/*.bak
/*.exe
/*.o
/Debug
/Erratum-Geometry-of-discrete-quantum-computing/Debug
/Erratum-Geometry-of-discrete-quantum-computing.v12.suo
/Erratum-Geometry-of-discrete-quantum-computing.opensdf
/*.pdf